extends layout

block content
	h1= "Register"
	#flash
		if message
			div.flashbox
				p.message= message
		else
			div.flashbox
				p.message
	form(method='POST', action='/register')
		input#username.form-control(type='text', placeholder='username', name='username')
		input#password.form-control(type='text', placeholder='password', name='password')
		button(type="submit") Register